<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="ChangeCtrl">
    <form>
      First Name:<input type="text" ng-model="firstname">
      <h1>Name: {{firstname}}</h1><br>
      Preference<br>
      python<input type="checkbox" ng-model="myVar1">
      <br>Machine Learning
      <input type="checkbox" ng-model="myVar2">
      <br>AWS
      <input type="checkbox" ng-model="myVar3">
      <br>
      Select your class:
      <input type="radio" ng-model="msem" value="sem1">Semester 1
      <input type="radio" ng-model="msem" value="sem2">Semester 2
      <input type="radio" ng-model="msem" value="sem3">Semester 3
      <input type="radio" ng-model="msem" value="sem4">Semester 4

    </form>
      <h1 ng-if="myVar1">Welcome to python</h1>
      <h1 ng-if="myVar2">Welcome to machine learning</h1>
      <h1 ng-if="myVar3">Welcome to AWS</h1>
      <div ng-switch="msem">
        
        <div ng-switch-when="sem1">
          <h1>Sem 1</h1>
          <p>you have selected sem 1.</p>
        </div>
        <div ng-switch-when="sem2">
          <h1>Sem 2</h1>
          <p>you have selected sem 2.</p>
        </div>
        <div ng-switch-when="sem3">
          <h1>Sem 3</h1>
          <p>you have selected sem 3.</p>
        </div>
        <div ng-switch-when="sem4">
          <h1>Sem 4</h1>
          <p>you have selected sem 4.</p>
        </div>
      </div>

      <!--  -->
      Select your Degree:
      <!-- <input type="radio" ng-model="deg" value="bca">BCA
      <input type="radio" ng-model="deg" value="bsc_cs">BSc CS 
      <input type="radio" ng-model="deg" value="bsc_it">BSc IT 
      <input type="radio" ng-model="deg" value="bcom">B.COM -->
      <select ng-model="deg">
        <option value="bca">BCA</option>
        <option value="bsc_cs">BSc CS</option>
        <option value="bsc_it">BSc It</option>
        <option value="bcom">B.Com</option>
      </select>
      <button ng-click="change()">Change Name</button>
    </form>
      <div ng-switch="deg">
        
        <div ng-switch-when="bca">
          <h1>BCA</h1>
          <p>you have selected bca .</p>
        </div>
        <div ng-switch-when="bsc_cs">
          <h1>BSc CS</h1>
          <p>you have selected BSc CS .</p>
        </div>
        <div ng-switch-when="bsc_it">
          <h1>BSc IT </h1>
          <p>you have selected BSc IT .</p>
        </div>
        <div ng-switch-when="bcom">
          <h1>B.COM</h1>
          <p>you have selected B.COM .</p>
        </div>
      </div>
      <script>
        var app=angular.module('myApp',[]);
        app.controller('ChangeCtrl',function($scope){
          $scope.firstname="Harsh";
          $scope.change=function()
          {
            $scope.firstname="Singh";
          }
        });
      </script>

</body>
</html>
